<h3>Needs improvement</h3>
<ul class="nav nav-list">

<% @bad.each do |report_choice| %>
  <li><i class="icon-remove"></i><span class="text-error"> <%= report_choice.description %></span></li>
<% end %>
</ul>
<h3>Job well done </h3>

<ul class="nav nav-list">
<% @good.each do |report_choice| %>
  <li><i class="icon-ok"></i><span class="text-success"> <%= report_choice.description %></span></li>
<% end %>
</ul>

<div class="text-right">
  <%= link_to 'Full report', full_report_url(id: @service.id), :class => "btn btn-primary" %>
</div>
