
<div class="row">
  <div class="span6">
    <div class="well gwell">
      <h1>WANT TO HELP?</h1>
      <p>Drop an email to <a href="mailto:dev@privacythroughchoice.org">dev@privacythroughchoice.org</a></p>
    </div>
  </div>

  <div class="span6">
    <div class="well gwell">
      <h1>SLIDES</h1>
      <p>Slides will be made available here at some point after <a href="">BSidesLondon 2014</a>.</p>
    </div>
  </div>
</div>

<h1>BSidesLondon 2014</h1>

<h3>References and Credits</h3>

<ul>
  <li>Slide 1 - <a href="http://www.theguardian.com/world/2013/jun/06/nsa-phone-records-verizon-court-order">Date</a></li>

  <li>Slide 2 - <a href="http://www.theguardian.com/world/2013/jun/06/nsa-phone-records-verizon-court-order">NSA collecting phone records of millions of Verizon customers daily</a></li>
  <li>Slide 2 - <a href=http://www.theguardian.com/world/2013/jun/27/nsa-online-metadata-collection"">How the NSA is still harvesting your online data</a></li>
  <li>Slide 2 - <a href=http://www.theguardian.com/world/2013/jun/06/us-tech-giants-nsa-data">NSA Prism program taps in to user data of Apple, Google and others</a></li>
  <li>Slide 2 - <a href="http://badattitudes.com/MT/archives/2013/07/what_do_the_sen.html">Snowden image</a></li>
  <li>Slide 2 - <a href="http://www.theguardian.com/world/2013/dec/16/nsa-surveillance-60-minutes-cbs-facts">General Keith Alexander image</a></li>

  <li>Slide 3 - <a href="http://arstechnica.com/information-technology/2013/11/googlers-say-f-you-to-nsa-company-encrypts-internal-network/">Googlers say “F*** you” to NSA, company encrypts internal network</a></li>
  <li>Slide 3 - <a href="http://www.itworld.com/consumerization-it/383676/infographic-how-major-tech-companies-are-encrypting-your-data">Infographic: How major tech companies are encrypting your data</a></li>
  <li>Slide 3 - <a href="http://csrc.nist.gov/groups/ST/crypto-review/">NIST INITIATING REVIEW OF CRYPTOGRAPHIC STANDARDS DEVELOPMENT PROCESS</a></li>
  <li>Slide 3 - <a href="https://www.blackphone.ch/">blackphone</a></li>

  <li>Slide 4 - <a href="https://www.dontspyonus.org.uk/org">Don't Spy On Us</a></li>
  <li>Slide 4 - <a href="https://thedaywefightback.org/">The day we fight back</a></li>
  <li>Slide 4 - <a href="http://www.ft.com/cms/s/0/752ec05c-bf0e-11e3-8683-00144feabdc0.html#axzz2zeDzfIFl">European Court of Justice rules EU data collection laws illegal</a></li>
  <li>Slide 4 - <a href="http://www.bbc.co.uk/news/world-us-canada-25856570">US privacy watchdog advises NSA spying is illegal</a></li>

  <li>Slide 5 - <a href="http://fireden.net/4chan/images.4chan.org//vg/src/1391630901915.jpg">On the Internet nobody knows you're a dog</a></li>

  <li>Slide 10 - <a href="https://www.ssllabs.com/ssltest/">Qualys SSL Labs</a></li>
  <li>Slide 10 - <a href="https://www.onlineprivacyfoundation.org/">The Online Privacy Foundation</a></li>
  <li>Slide 10 - <a href="https://www.mywot.com/">Web Of Trust</a></li>
  <li>Slide 10 - <a href="http://privacyscore.com/">Privacyscore</a></li>
  <li>Slide 10 - <a href="http://stackoverflow.com/">Stackoverflow</a></li>
  <li>Slide 10 - <a href="https://www.trustworthyinternet.org/">Trustworthy Internet Movement</a></li>

  <li>Slide 12 - <a href="http://fotogrph.com/under-the-bridge-514965874/">Under the bridge</a></li>

  <li>Slide 14 - <a href="http://fotogrph.com/metallic-443967278/">Metallic</a></li>

  <li>Slide 16 - <a href="http://fotogrph.com/business-stress-812257246/">Business Stress</a></li>

  <li>Slide 26 - <a href="http://www.thatcutesite.com/the-itsy-bitsy-nerd-herd.html">The Itsy Bitsy Nerd Herd</a></li>

  <li>Slide 27 - <a href="http://cltutoriales.deviantart.com/art/Wallpaper-Doge-El-Rubius-OMG-413899308">Wallpaper Doge</a></li>

  <li>Slide 28 - <a href="http://www.projectinspired.com/16-cute-pictures-of-animals-praying/">16 Cute Pictures of Animals Praying</a></li>
</ul>
