<h3>General</h3>
<p>For general enquiries, comments etc you can email us at <strong><a href="mailto://hello@thunr.com">hello@thunr.com</a></strong>.</p>
<hr/>

<h3>Feedback</h3>
<p>You can leave a comment here, or drop us an email at <strong><a href="mailto://feedback@thunr.com">feedback@thunr.com</a></strong>.</p>
<hr/>

<h3>Security issues</h3>
<p>Details about reporting security issues can be found on the <%= link_to "Security", page_path('security') %> page.</p>
