<h3>General</h3>
<p>For general enquiries, comments etc you can email us at <strong><%= mail_to('hello@privacythroughchoice.org') %></strong>.</p>
<hr/>

<h3>Bugs and other problems</h3>
<p>To raise technical issues please email us at <strong><%= mail_to('dev@privacythroughchoice.org') %></strong>.</p>
<hr/>

<h3>Security issues</h3>
<p>Details about reporting security issues can be found on the <%= link_to "Security page", page_path('security') %>.</p>
