<h3>Found a security issue?</h3>

<p>Please send an email to <strong><a href="mailto://security@privacythroughchoice.org">security@privacythroughchoice.org</a></strong> with as much of the following as possible:</p>

<ul>
  <li>Description of the problem</li>
  <li>When you found the problem</li>
  <li>Steps to reproduce the problem (if any, including exploit code if you have some)</li>
  <li>Where in the code you found the problem (if from a code review)</li>
  <li>Code patch or solution to the problem</li>
</ul>
<hr/>

<h3>Disclosure Policy</h3>

<p>Our disclosure policy is as follows:</p>

<ul>
  <li>Coordinated disclosure is our preferred choice. This means providing us the details of the issue without going public, then giving us reasonable time to fix it. See <a href="http://howdoireportavuln.com">http://howdoireportavuln.com</a> for details.</li>
  <li>We'll acknowledge the problem within 48 hours.</li>
  <li>We aim to fix serious issues within 2 weeks, but we'll try to be realistic with you during the process.</li>
  <li>We welcome feedback and criticism. Let us know what you think we can do to improve things.</li>
  <li>We will add you to our <%= link_to "Thank You", page_path('thankyou') %> page, unless you specifically ask not to be added.</li>
</ul>
<hr/>

<h3>Bug Bounty</h3>

<p>Unfortunately, we're not in a position to run a bug bounty program right now, beyond formal acknowledgement.</p>
