<p><%= site_name %> would like to thank the following people.</p>

<h3>Code contributions</h3>

<ul>
  <li>You?</li>
</ul>
<hr/>

<h3>Security gurus</h3>

<ul>
  <li>You.</li>
</ul>
<hr/>

<h3>Communuty spirit</h3>

<ul>
  <li>You :)</li>
</ul>
